body {
  font-family: "Montserrat", sans-serif;
}
header {
  background: #bbbbbb;
  padding: 20px 0;
}
.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 110px;
  right: 0;
  display: block;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
}
nav a {
  /* TUDO EM MAIUSCULO */
  text-transform: uppercase;
  /* COR */
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}
nav a:hover {
  /* PASSANDO O MOUSE EM CIMA DA NAV */
  color: #c78c19;
  text-decoration: underline;
}
#banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
  position: relative;
}

.titulo-principal {
  padding-right: 20px;
  padding: 20px 0;
}
.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: #ff0000;
}

.itens {
  font-style: italic;
}

.beneficios {
  background: #ffffff;
  padding: 20px;
}

h2 {
  text-align: center;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagembeneficios {
  width: 50%;
}
